* {
	box-sizing: border-box;
}

body {
	/*background-color: pink;*/
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}

div {
	/*border: 1px solid black;*/
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: grey;
}

::selection {
  color: white;
  background: grey;
}

.main-container {
	/*background-color: red;*/
	display: grid;
	/*grid-gap: 10px;*/
	grid-template-columns: 1fr;
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 1400px) {
	.main-container {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
}

.main-item {
	/*width: 100%;*/
	/*height: 150px;*/
	/*background-color: lightblue;*/

}

.header-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.header-item {
}

.logo {
	color: black;
	font-size: 40px;
	text-decoration: underline;

}

.search-bar {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.search-bar input {
	width: 80%;
	height: 35px;
	border-radius: 25px;
	border: 2px solid black;
}

.search-bar input::placeholder {
	padding-left: 15px;

}

.account-bar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 50px;
	padding-right: 50px;
}

.account-bar-item {
	padding: 0px 15px 0px 15px;
}

.nav-hamburger {
	display: none;
}

@media only screen and (max-width: 792px) {
	
	.header-container {
		justify-content: flex-end;
	}

	.search-bar {
		flex: 0 0 100%;
		order: 2;
	}

	.search-bar input {
		width: 100%;
		margin-top: 20px;
		height: 60px;
		border-radius: 30px;
	}

	.search-bar input::placeholder {
		font-size: 15px;
	}

	.account-bar {
		padding: 0px;
		visibility: collapse;
		height: 0px;
	}

	.nav-container {
		flex-direction: column;
		visibility: collapse;
		height: 0px;
	}

	.nav-hamburger {
		display: block;
	}

	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 40px;
	  left: 30px;
	  
	  z-index: 1;
	  
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle a
	{
	  text-decoration: none;
	  color: #232323;
	  
	  transition: color 0.3s ease;
	}

	#menuToggle a:hover
	{
	  color: tomato;
	}


	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  
	  cursor: pointer;
	  
	  opacity: 0; /* hide this */
	  z-index: 2; /* and place it over the hamburger */
	  
	  -webkit-touch-callout: none;
	}

	/*
	 * Just a quick hamburger
	 */
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: black;
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu
	{
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  
	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}

	/*
	 * And let's slide it in from the left
	 */
	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}
}

.nav-container {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: flex-start;
	padding: 0px;
}

.nav-container > li {
	text-decoration: none;
	margin: 0px 60px 0px 0px;
}

.nav-container > li:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}

.cover {
	height: 300px;
	background: url(img/cover.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.vendor {
	background-color: #FFF1E6;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

.vendor-card {
	display: flex;
	flex-wrap: wrap;
	color: #002F2F;
}

.vendor-img {
	width: 150px;
	height: 150px;
	/*margin: 20px;*/
	border-radius: 8px;
}

.vendor-card-gap {
	width: 20px;
}

.vendor-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}

.vendor-name {
	padding-top: 20px;
	font-weight: bolder;
	font-size: 30px;

}

.vendor-description {
}

.vendor-location {
	font-style: italic;
}

.vendor-stats {
	font-size: 13px;
}

