* {
	box-sizing: border-box;
}

body {
	/*background-color: pink;*/
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}

div {
	/*border: 1px solid black;*/
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: grey;
}

::selection {
  color: white;
  background: grey;
}

.main-container {
	/*background-color: red;*/
	display: grid;
	/*grid-gap: 10px;*/
	grid-template-columns: 1fr;
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 1400px) {
	.main-container {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
}

.main-item {
	/*width: 100%;*/
	/*height: 150px;*/
	/*background-color: lightblue;*/

}

.header-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.header-item {
}

.logo {
	color: black;
	font-size: 40px;

}

.search-bar {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.search-bar input {
	width: 80%;
	height: 35px;
	border-radius: 25px;
	border: 2px solid black;
}

.account-bar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 50px;
	padding-right: 50px;
}

.account-bar-item {
	padding: 0px 15px 0px 15px;
}

@media only screen and (max-width: 792px) {
	
	.header-container {
		justify-content: flex-start;
	}

	.search-bar {
		flex: 0 0 100%;
		order: 2;
	}

	.search-bar input {
		width: 100%;
	}

	.account-bar {
		padding: 0px;
	}
}

.nav-container {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-between;
	padding: 0px;
}

@media only screen and (max-width: 1000px) {
	.nav-container {
		flex-direction: column;
	}
}

.nav-container > li {
	text-decoration: none;
	margin: 0px 120px 0px 0px;
}

.nav-container > li:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}

.cover {
	height: 300px;
	background: url(img/cover.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.vendor {
	background-color: #FFF1E6;
	display: flex;
	justify-content: space-between;
}

.vendor-card {
	display: grid;
	grid-template-columns: 190px 290px;
	grid-template-rows: 60px 30px 30px 1fr;
	color: #002F2F;
}

.vendor-img {
	width: 150px;
	height: 150px;
	margin: 20px;
	border-radius: 8px;
	grid-row-start: span 4;
}

.vendor-name {
	padding-top: 20px;
	grid-column-start: 2;
	grid-column-end: 3;
	font-weight: bolder;
	font-size: 30px;

}

.vendor-description {
	grid-column-start: 2;
	grid-column-end: 3;
}

.vendor-location {
	grid-column-start: 2;
	grid-column-end: 3;
	font-style: italic;
}

.vendor-stats {
	grid-column-start: 2;
	grid-column-end: 3;
	font-size: 13px;
}